#header {
    margin-top: 20px;
    font-weight: 900;
    font-size: large;
    display: inline-block;
    background-color: black;
    color: #ddd;
}

.table,
th,
td {
    border: 1px solid #ddd;
}

#listOfVehicles {
    margin-top: 50px;
}

#OneVehicleForm {
    margin-top: 50px;
}

#editForm {
    margin-top: 50px;
}

#vehicleForm {
    margin-top: 30px;
}